.obdelnik {
    height: 100px;
    width: 300px;
    background-color: yellow;
    border: 1px solid black;
}

/* pojďme použít media queries */

@media (min-width: 600px) and (max-width: 700px) { /* 800 */
    .obdelnik {
        background-color: green;
    }

    body {
        background-color: blueviolet;
    }
}

@media (min-width: 776px) {
    .obdelnik {
        background-color: blue;
    }
    body {
        background-color: white;
    }
}

@media (max-width: 1000px) {
    .obdelnik {
        background-color: red;
    }
}




